* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
/* MAIN CONTAINER */
.container {
  display: grid;
  grid-auto-rows: 80px 1fr;

  height: 100vh;
}

/* HEADER */
.header {
  background-color: #8c0031;
  display: grid;
  align-content: center;
  padding: 10px;
}
.header h1 {
  color: #fff;
}

/* MAIN CONTENT */
.main-content {
  display: grid;
  grid-gap: 5px;

  margin: 10px;

  grid-template:
    ". author-qoutes ." 1fr
    ". musicians . " 1fr /
    1fr 2fr 1fr;
}

.main-content .author-qoutes {
  grid-area: author-qoutes;
  font-style: italic;
}

.main-content .musicians-qoutes {
  grid-area: musicians;
  font-style: italic;
}

/* MAIN CONTENT SECTION AUTHOR QOUTES */
.author-qoutes h2 {
  margin: 5px;
}

.author-qoutes .author-qoutes-figures {
  margin: 10px;
  background-color: #c8e6c8;
  border-radius: 5px;
}

.author-qoutes .author-qoutes-figures p {
  /* font: caption; */
  line-height: 1.5;
  margin: 5px;
  text-align: center;
}
.author-qoutes .author-qoutes-figures figcaption {
  margin: 5px;
  text-align: right;
}

/* MAIN CONTENT SECTION MUSICIANS QOUTES */
.musicians-qoutes h2 {
  margin: 5px;
}

.musicians-qoutes .musicians-qoutes-figures {
  margin: 2px;
  background-color: #bddefb;
  border-radius: 5px;
}

.musicians-qoutes .musicians-qoutes-figures p {
  line-height: 1.5;
  margin: 5px;
  text-align: center;
}

.musicians-qoutes .musicians-qoutes-figures figcaption {
  margin: 5px;
  text-align: right;
}

.musicians-qoutes .musicians-qoutes-figures:nth-child(odd) {
  background-color: #dbc0e4;
}
