* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* MAIN CONTAINER */
.container {
  display: grid;
  grid-auto-rows: 80px 1fr;

  height: 100vh;
}

/* HEADER */
.header {
  background-color: #8c0031;
  display: grid;
  align-content: center;
  padding: 10px;
}
.header h1 {
  color: #fff;
}

/* MAIN CONTENT */
.main-content {
  display: grid;
  grid-gap: 5px;

  margin: 10px;

  grid-template:
    ". author-qoutes ." 1fr
    ". musicians . " 1fr /
    1fr 2fr 1fr;
}

.main-content .author-qoutes {
  border: 1px solid black;
  grid-area: author-qoutes;
}

.main-content .musicians-qoutes {
  border: 1px solid pink;
  grid-area: musicians;
}
